.wrapper {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.text {
  color: var(--primary);
  letter-spacing: calc(1em / 20);
}
@media (max-width: 768px) {
  .wrapper{
    grid-gap: 5px;
  }
}