* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: calc(1em / 20);
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.btn:disabled {
  filter: opacity(60%);
}
.btn.link {
  color: var(--black);
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  letter-spacing: normal;
}
.btn.danger {
  background-color: var(--danger);
}
.btn.access {
  background-color: var(--access);
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 10px 16px;
  }
}
